services:
  app:
    container_name: logos_app
    image: logos_app_image
    env_file: .env
    build: 
      context: .
      dockerfile: app/Dockerfile
    ports:
      - "5000:5000"
    stdin_open: true
    tty: true
  database:
    container_name: logos_db
    image: postgres:16.10-alpine3.21
    env_file: .env
    ports:
      - "5432:5432"

